.white {
	color: white;
}

.bg-white {
	background-color: white;
}

.white-green {
	color: #f2fff3;
}

.bg-white-green {
	background-color: #f2fff3;
}

.light-gray {
	color: #566656;
}

.bg-light-gray {
	background-color: #566656;
}

.gray {
	color: #304030;
}

.gray-gray {
	color: #404040;
}

.bg-gray {
	background-color: #304030;
}

.black {
	color: #293329;
}

.bg-black {
	background-color: #293329;
}

.green-dark {
	color: #204030;
}

.bg-green-dark {
	background-color: #204030;
}

.bg-gradient-medium-lime {
	background: rgb(200, 255, 191);
	background: linear-gradient(
		rgba(200, 255, 191, 1) 0%,
		rgba(112, 204, 158, 1) 100%
	);
}

.gradient-medium-lime {
	color: rgb(200, 255, 191);
	background: -webkit-linear-gradient(
		rgba(200, 255, 191, 1) 0%,
		rgba(112, 204, 158, 1) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
