/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	font-family: "Inter", Arial, sans-serif !important;
	color: #293329;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	color: #83b97a;
}

a:hover > * {
	color: #83b97a;
}

a:active {
	color: #293329;
}

a:active > * {
	color: #293329;
}

button {
	padding: 9px 24px;
	border-radius: 12px;
	border: 0;
	background: linear-gradient(
		rgba(200, 255, 191, 1) 0%,
		rgba(112, 204, 158, 1) 100%
	);
	transition: transform 0.25s;
}

button:hover {
	cursor: pointer;
	background: linear-gradient(
		rgba(200, 255, 191, 0.75) 0%,
		rgba(112, 204, 158, 0.75) 100%
	);
	transform: translateY(-2px);
}

button:active {
	background: linear-gradient(
		rgba(150, 191, 143, 1) 0%,
		rgba(77, 140, 109, 1) 100%
	);
	transform: translateY(0px);
}

button > p {
	font-size: 1.5em;
	font-weight: 600;
}

button:hover > p {
	color: #252525;
}

button:active > p {
	color: rgba(200, 255, 191, 1);
}
